.top-header {
  background-color: #0d369f;
  padding: 14px 15px;
}

.top-header .top-headers ul {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

.top-header .top-headers ul li {
  display: inline-block;
  margin-right: 30px;
  color: #fff;
}

.top-header .top-headers ul li a {
  text-decoration: none;
  font-weight: 500;
  font-size: 15px;
  color: #fff;
  transition: all 0.5s;
}

.top-header .top-headers ul li:hover a,
header .navbar-brand:hover span,
header .navStudious .navbarStudious .navbar-nav > li:hover > a,
header .navStudious .navbarStudious .dropdown-menu > li:hover > a,
header .navStudious .navbarStudious .dark-mode:hover i {
  color: #ff6e65;
}

.top-header .top-headers-2 ul .linkedin {
  margin-right: 0;
}

/* NAVBAR */
header {
  height: 90px;
}

header .navStudious {
  padding: 19.2px 16px;
}

header .navStudious a {
  color: #000;
  font-weight: 600;
}

header .navStudious .navbarStudious {
  justify-content: flex-end;
  align-items: center;
}

header .navStudious .navbar-brand {
  font-size: 26px;
  color: #0d369f;
  font-weight: 600;
}

header .navStudious .navbar-brand span {
  vertical-align: middle;
  transition: all 0.5s;
}

header .navStudious .navbar-collapse ul {
  font-size: 16px;
  text-transform: uppercase;
  color: #000 !important;
}

header .navStudious .navbarStudious .navbar-nav .nav-link.active {
  color: #ff6e65;
}

header .navStudious .navbarStudious li a {
  transition: all 0.5s;
  background-color: transparent;
}

header .navStudious .navbarStudious .dropdown-menu {
  transform: translateX(-50px);
  border: 1px solid transparent;
  box-shadow: rgba(12, 12, 12, 0.1) 0 1px 20px 0;
  padding: 15px;
}

header .navStudious .search-right .search-text input {
  background: transparent;
  padding: 10px 35px 10px 14px;
  width: 100%;
  border-radius: 30px;
  border: 2px solid #eee;
}

header .navStudious .search-right .btn-icon {
  padding: 10px 12px 10px 2px;
  right: 0;
}

header .navStudious .search-right .btn-icon i {
  color: #0d369f;
}

header .navStudious .navbarStudious .dark-mode {
  margin-left: 20px;
}

header .navStudious .navbarStudious .dark-mode a {
}

header .navStudious .navbarStudious .dark-mode i {
  transition: all 0.5s;
  font-size: 25px;
}

/* CAROUSEL */

#carouselStudious .carousel-item img {
  height: 620px;
  object-fit: cover;
}

#carouselStudious .carousel-caption-1 {
  padding-bottom: 5rem;
}

#carouselStudious .carousel-caption h5 {
  font-size: 70px;
  line-height: 80px;
  font-weight: bold;
  color: #fff;
  width: 40%;
  text-align: start;
  margin-bottom: 50px;
}

#carouselStudious .carousel-caption button {
  padding: 14px 30px;
  font-weight: 600;
  font-size: 16px;
  color: #060606;
  border-radius: 4px;
  background: #fff;
  border: none;
  transform: translateX(-350%);
}

#carouselStudious .carousel-caption button:hover {
  color: #fff;
  background-color: #ff6e65;
}

#carouselStudious .carousel-indicators [data-bs-target] {
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  background-color: #fff;
}

#carouselStudious .carousel-indicators .active {
  background-color: #ff6e65;
}

#carouselStudious .carousel-indicators {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  right: -12.5%;
  bottom: 7%;
}

/* SERVICES */
.services {
  position: relative;
  margin-top: -4rem;
  padding-bottom: 48px;
}

.services .main .item {
  text-align: center;
  padding: 50px 35px;
  border-radius: 8px;
  color: #fff;
}

.services .main .item i {
  font-size: 45px;
}

.services .main .item h4 {
  margin-top: 25px;
}

.services .main .item a {
  font-weight: 600;
  font-size: 24px;
  color: #fff;
  text-decoration: none;
  transition: all 0.5s;
}

.services .main .item a:hover {
  color: #000;
}

.services .main .item-1 {
  background-color: #037ef3;
}

.services .main .item-2 {
  background-color: #ffc949;
}

.services .main .item-3 {
  background-color: #ff4f81;
}

.services .main .item-4 {
  background-color: #1ee697;
}
